<p>
  <mat-toolbar>
    <span>My Application</span>
    <span class="example-spacer"></span>
    <button mat-stroked-button [class.navigate-button]="navigateButton">
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        [inline]="true"
        >home</mat-icon
      >
      Basic
    </button>
    <button mat-stroked-button [class.navigate-button]="navigateButton">
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        [inline]="true"
        >home</mat-icon
      >
      Basic
    </button>
    <button mat-stroked-button [class.navigate-button]="navigateButton">
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        [inline]="true"
        >home</mat-icon
      >
      Basic
    </button>
  </mat-toolbar>
</p>
